@use '../styles/breakpoints' as *;
@use '../styles/animations';

.page {
  padding-block: var(--space-lg) var(--space-xl);

  @include tablet {
    padding-top: var(--space-xxl);
  }
}

.content {
  margin-top: var(--space-xl);

  @include tablet {
    margin-top: var(--space-xxxl);
  }
}

.results {
  animation: fade-in var(--transition-duration) var(--transition-easing);
}
